
.titles{
  text-align: center;
  color: #b761a2;
  font-size: 18px;
}

.contexts{
  text-align: left;
  color: #7d747f;
  padding-right: 410px;
  padding-left: 410px;
  font-size: 14px;
}

.tabs{
  padding-left: 380px;
  display: inline-flex;
  color: #b761a2;
  font-size: 18px;
}



















